<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Attack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
	function checkBounds(){
		if(parseInt(document.attackForm.units.value) <= 0 || parseInt(document.attackForm.units.value) > parseInt({{village.soldiers}})){
			alert("Has seleccionado un número no válido, o superior a la cantidad de soldados disponibles");
			return false;
		}else{
			return true;
		}
	}
    </script>	
    </head>
    <body class="grey lighten-5 flow-text">
        <div class="container">
                <p>Attack</p>
                <form id="attackForm" name="attackForm" action="./saveAttack" onsubmit="return checkBounds()" method="POST">
                {%csrf_token %}
                <div class="row">
                        <table class="col s12 card blue lighten-4" border="1" cellspacing="2">
                                <thead>
                                        <tr>
                                                <th class="col s6">Selecciona la aldea que atacar</th>
                                                <th class="col s6">Escoge el número de soldados con los que atacar la aldea</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td class="col s6"><select class="browser-default" name="objective">
                                                        {% for village in villages %}
                                                        <option>{{ village.villageName }}</option>
                                                        {% endfor %}
                                                </select></td>
                                                <td class="col s6"><input type="number" name="units" id="units" size=25></td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
                        
                <input class="waves-effect waves-light btn-large blue darken-2" type="submit" value="Enviar" name="submit" />
                <a class="waves-effect waves-light btn-large blue darken-2 black-text" href='/GrowYourEmpire/manager' >Atrás</a>
                </form>
                        
        </div>
    </body>
</html>


