<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Training</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
	function checkBounds(){
		const amount = parseInt(document.getElementById("amount").value);
                if (amount <= 0 || (amount*2) > parseInt({{village.storedFood}})){
			alert("Recursos insuficientes, o cantidad de soldados a entrenar no válida");
			return false;                        
              	}
		return true;
	}
    </script>
    
    </head>
    <body class="grey lighten-5 flow-text">
        <div class="container">
                        <p>Entrenar soldados</p>
                        <form id="trainForm" name="trainForm" action="./saveTraining" onsubmit="return checkBounds()" method="POST">
                        {%csrf_token %}
                        <div class="row">
                                <table class = "col s12 card blue lighten-4" border="1" cellspacing="2">
                                        <thead>
                                                <tr>
                                                        <th class="col s6">Selecciona la cantidad de soldados a entrenar</th>
                                                        <th class="col s6">Coste de alimento</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td class="col s6"><input type="number" name="amount" id="amount" value="1"></input></td>
                                                        <td class="col s6"><p id="cost"></p></td>
                                                </tr>
                                        </tbody>
                                </table>
                           </div>
                                
                        <input class="waves-effect waves-light btn-large blue darken-2" type="submit" value="Enviar" name="submit" />
                        <a class="waves-effect waves-light btn-large blue darken-2 black-text" href='/GrowYourEmpire/manager' >Atrás</a>
                        </form>
                        
        </div>	
        <script type="text/javascript">
	var costText = document.getElementById("cost");
	var units = document.getElementById("amount");
	units.addEventListener("change", () => {
		if(units.value > 0){costText.textContent = units.value*2}
		else{costText.textContent = "-"}
			
	})		
    	</script>	
    </body>
</html>


