<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Ranking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="green lighten-3">
    	
	<div class="right-align">
	<a class="waves-effect waves-light btn-small green darken-1" href='/DAWActivity/logout'>Cerrar sesion</a>
	<a class="waves-effect waves-light btn-small green darken-1" href='/DAWActivity' >Volver a la página principal</a>
	<a class="waves-effect waves-light btn-small green darken-1" href='/DAWActivity/rules' >Reglas</a>
	</div>
        <div class="container">
        	<div class="row">
                	<div class="col s8">
                                <div class="card green">
                                        <div class="card-content white-text">
                                        	<p class="flow-text">Primeras 5 aldeas</p>
                                        	<table class="stripped green" border="1" cellspacing="2">
                                        		<thead>
								<tr>
									<th>Nombre</th>
									<th>Puntuación</th>
								</tr>
							</thead>
							<tbody>
									{%for vKey,vValue in ranking.items%}
									<tr>
										<th>{{vKey}}</th>
										<th>{{vValue}}</th>
									</tr>
									{%endfor%}
							</tbody>
						</table>
        </div>
    </body>
</html>
